# {{ ansible_managed }}

[Unit]
Description=Gitea (Git with a cup of tea)
After=network.target
{% if gitea_database_server | default('') == "postgresql" %}
Wants=postgresql.service
After=postgresql.service
{% endif %}

[Service]
RestartSec=2s
Type=simple
User={{ gitea_user }}
Group={{ gitea_group }}
WorkingDirectory=/var/lib/gitea/
ExecStart=/usr/local/bin/gitea web --config /etc/gitea/app.ini
Restart=always
Environment=USER={{ gitea_user }} HOME=/home/{{ gitea_user }} GITEA_WORK_DIR=/var/lib/gitea

[Install]
WantedBy=multi-user.target
